.note1{
    width: 40vw;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    border: 2px solid rgb(234, 234, 234);
    padding: 10px;
    box-shadow: 2px 2px 2px 1px #888888;
    border-radius: 10px;
    margin-left: 30%;
    
}
.icons{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
    .NoteOne{
     width : 70vw;
     height : 7vh;
 
    } 
 
     
 }